
      
     *::after ::before { 
       
      box-sizing: border-box;
  
     }

      body {
        padding: 0;
        margin: 0;
        font-family: roboto, sans-serif;
      }
     
      
      header {
        padding: 20px;
        align-items: center;
        background-color: coral;
      
      }

      .student  {
  
        width: 100%;

      }
      .name {

        margin-bottom: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 10px;
        font-size:medium;

      }

      .photo {
        width: 100%;
        height:50vh;
      }

      .logoslinks {
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;
        padding-top: 2%;
      }

      .logotailles {
        padding-left: 10px;
        padding-right: 10px;
      }


      .description{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 15%;
        text-align: justify;
        padding-left: 8%;
        padding-right: 10%;
  
      }
        
      .description h2 {
        align-items: flex-start;
        font-size:x-large;
        color:gray;
        margin-top:2%;
        margin-bottom: 0; 

      }

      .description p {
        margin: 0;
      
      }

      /* CHANGE SCREEN WITH LAPTOP */
    
      @media screen and (min-width: 1024px){
        body {
          padding: 0;
          margin: 0;
          font-family: roboto, sans-serif;
        }
       
        
        header {
          padding: 20px;
          align-items: center;
          background-color: coral;
        
        }
  
        .student  {
          margin-left: 25%;
          margin-right: 25%;
        }


      .photo {
        width: 100%;
        height:50vh;
      }

      .logoslinks {
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;
        padding-top: 2%;
      }

      .logotailles {
        padding-left: 10px;
        padding-right: 10px;
      }


      .description{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 15%;
        text-align: justify;
        padding-left: 8%;
        padding-right: 10%;
  
      }
        
      .description h2 {
        align-items: flex-start;
        font-size:x-large;
        color:gray;
        margin-top:2%;
        margin-bottom: 0; 

      }

      .description p {
        margin: 0;
      
      }
      

      }
     
/* CHANGE SCREEN WITH TABLETS */

      @media screen and (min-width: 768px){
        body {
          padding: 0;
          margin: 0;
          font-family: roboto, sans-serif;
        }
       
        
        header {
          padding: 20px;
          align-items: center;
          background-color: coral;
        
        }
  
        .student  {
          background-color: blueviolet;
          margin-top:10%;
          display:grid;     
          grid-column-start: 2;
          grid-column-end: five;
          grid-row-start: row1-start;
          grid-row-end: 3;
    
       
        }
        

      .photo {
        background-color: chocolate;
        width: 100%;
        height:50vh;
        grid-column-start: 2;
        grid-column-end: five;
        grid-row-start: row1-start;
        grid-row-end: 3;
      }

      .logoslinks { background-color: crimson;
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;
        padding-top: 2%;
      }

      .logotailles {
        background-color: darkblue;
        padding-left: 10px;
        padding-right: 10px;
      }


      .description{
        background-color: darkorange;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 15%;
        text-align: justify;
        padding-left: 8%;
        padding-right: 10%;
  
      }
        
      .description h2 {
        background-color: darkorchid;
        text-align: center;
        font-size:x-large;
        color:gray;
        margin-top:2%;
        margin-bottom: 0; 

      }

      .description p {
        background-color: darkred;
        margin: 0;
      
      }
      

      }
      before, ::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    
    
    
    
    footer {
        flex-shrink: 0;
        border-top: 1px dashed #000;
        width: 100%;
        background: #f1f1f1;
        color: #d88d8d;    
    }
    .contenu-footer {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-size: 20px;
        padding: 50px 0 100px;
    }
    
    .bloc {
        width: 25%;
        margin: 0 30px;
    }
    .contacter .mailto {
      cursor: default;
      color: #d88d8d;
      
    }
    .contacter .adresse {

      cursor: default;
      color: #d88d8d;

    }

    .contacter .appel {

      cursor: default;
      color: #d88d8d;
    }

    .contacter .appel:hover{

      color: red;

    }
    
    .contacter .adresse:hover{

      color: red;
    }
    .contacter .mailto:hover{
      
      color:red;
    
    }
    

    /* contact */
    .bloc h3 {
        font-size: 25px;
        padding-bottom: 20px;
    }
    
    .footer-contact p {
        padding: 5px 0;
    }
    
    /* Services */
    
    
    .liste-services,
    .liste-horaires,
    .liste-media {
        list-style-type: none;
    }
    .liste-services li {
        padding: 2px 0;
    }
    .liste-services a {
        text-decoration: none;
        color: #333;
    }
    .liste-services a:hover {
        color: rgb(3,3,3);
    }
    
    
    
    
    /* Media queries */
    
    @media screen and (max-width: 1300px) {
    
        .contenu-footer {
            width: 700px;
            flex-wrap: wrap;
        }
        .bloc {
            width: 40%;
            margin: 0 0;
        }
        .bloc:nth-child(1),
        .bloc:nth-child(2) {
            margin-bottom: 50px;
        }
    
    }
    
    
    @media screen and (max-width: 800px) {
        .contenu-footer {
            width: 320px;
        }
        .bloc {
            width: 300px;
            margin: 30px 30px;
        }
        .bloc:nth-child(1),
        .bloc:nth-child(2) {
            margin-bottom: 30px;
        }
        .bloc:nth-child(1) {
            margin-top: 0;
        }
    }